main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main_header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 864px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: relative;

  h1 {
    color: transparent;
    background-image: linear-gradient(90deg, #2563eb, #059669);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;
  }

  p {
    color: #374151;
    font-size: large;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    li {
      color: #4b5563;
      font-weight: 500;
    }
  }

  .question {
    text-align: right;
    color: rgba(179, 33, 33, 0.699);
    cursor: pointer;
    position: relative;
    position: absolute;
    right: 2rem;
    top: 2rem;

    width: max-content;
    &::before {
      display: none;
      content: 'Nossos serviços de digitalização e revisão de texto podem apresentar instabilidades em alguns momentos. Se o problema persistir, aguarde alguns minutos para obter a resposta. Caso o problema persista, por favor, entre em contato conosco. Utilizamos serviços de terceiros para fornecer essa solução, e eles podem apresentar instabilidade em alguns momentos.';
      position: absolute;
      right: 0;
      top: 0;
      text-align: justify;
      color: black;
      width: 300px;
      padding: 1rem;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      z-index: 1;
    }

    &:hover::before {
      display: block;
    }
  }
}

.container {
  width: 100%;
  max-width: max-content;
  margin-inline: auto;
  padding-inline: 1rem;
  border: 1px solid #00000020;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  .header {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: dimgray;
    }

    .editor_settings {
      user-select: none;
      button {
        all: unset;
        cursor: pointer;
      }
    }

    div {
      display: flex;
      gap: 1rem;

      button {
        height: 40px;
        padding-inline: 1rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover {
          border: none;
          outline: none;
        }
      }

      .scan {
        position: relative;
        background-color: var(--green);
        display: grid;
        place-content: center;

        input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }

  .editor_container,
  .response_container,
  pre {
    margin-inline: auto;
    min-width: 400px;
    width: 100%;
    max-width: 1280px;
    min-height: 500px;
    border: 1px solid #00000020;
    border-radius: 0.5rem;
    background-color: var(--text_area);
    font-family: monospace;
    line-height: 1.5rem;
    text-align: justify;
    padding: 1rem;
    text-wrap: nowrap;
    overflow: hidden;

    @media (width < 768px) {
      min-width: 300px !important;
      max-width: 100% !important;
    }

    &:hover,
    &:focus {
      outline: 0;
      border-color: var(--green);
    }

    p {
      text-align: justify;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;

    button {
      height: 40px;
      padding-inline: 1rem;
      border-radius: 0.5rem;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: var(--green);
      color: #fff;

      &:hover {
        border: none;
        outline: none;
      }
    }

    p {
      text-align: right;
      color: gray;
      user-select: none;
    }
  }
}

.container:has(.response_container) {
  padding-block: 1rem;

  .response_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-wrap: wrap;

    h2 {
      color: dimgray;
    }
  }
}

footer {
  .container {
    width: 100%;
    max-width: 1280px;
    min-height: 300px;
    display: grid;
    place-content: center;
    box-shadow: none;
    background: none;
    border: none;

    div {
      p {
        display: flex;
        margin-bottom: 1rem;
        gap: 1rem;
        justify-content: center;
        font-family: 'Courier New', Courier, monospace;

        a:hover {
          scale: 1.05;
        }

        a:active {
          transition: 0.2s;
          scale: 0.95;
        }
      }
    }
  }
}
