:root {
  --green: #059669;
  --btn_bg: #F3F4F6;
  --gradient_1: #F0F9FF
  --gradient_2: #F0FDF4;
  --text_area: #F9FAFB;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}

html, body{
  background-image: linear-gradient(to bottom, #F0F9FF, #F0FDF4);
  min-height: 100vh;
  width: 100vw;
overflow-x: hidden;

}